:root {
	--mondrian-yellow: rgb(250, 209, 72);
	--mondrian-black: rgb(29, 29, 26);
	--mondrian-red: rgb(193, 40, 40);
	--mondrian-blue: rgb(56, 73, 118);
	--mondrian-white: rgb(246, 246, 239);
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--mondrian-white);
}


.main-container {
	background-color: var(--mondrian-white);
	width:100%;
	height:100%;
    text-align: center;

}

.main-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.row-container {
	border: 3px solid var(--mondrian-black);
	display: flex;
}

.zeroth {
	border-top: 0px;

}

.first {
	height: 600;
} 

.second {
	border-bottom: 0px;
}

.column-container {
	padding: 10px 0px;
	background-color: var(--mondrian-white);
	border-left: 3px solid var(--mondrian-black);
	border-right: 3px solid var(--mondrian-black);
}

.aside {
	border-left: 3px solid var(--mondrian-black);
	border-right: 3px solid var(--mondrian-black);
}
.parameters {
	/*background-color: var(--mondrian-yellow);*/
}


/*
.row-container.zeroth > .aside.left {
	background-color: var(--mondrian-white);
}
.row-container.zeroth > .aside.right {
	background-color: var(--mondrian-white);
}
.row-container.first > .aside.left {
	background-color: var(--mondrian-white);
}
.row-container.first > .aside.right {
	background-color: var(--mondrian-white);
}
.row-container.second > .aside.left {
	background-color: var(--mondrian-white);
}
.row-container.second > .aside.right {
	background-color: var(--mondrian-white);
}
.row-container.third > .aside.left {
	background-color: var(--mondrian-white);
}
.row-container.third > .aside.right {
	background-color: var(--mondrian-white);
}
*/
.drawing button {

}


#drawing {
    padding: 0;
	margin: 0;
}

#drawing-content {
	padding: 0;
	margin: 0;
	float: left;
	display: flex;
}

