:root {
	--mondrian-yellow: rgb(250, 209, 72);
	--mondrian-black: rgb(29, 29, 26);
	--mondrian-red: rgb(193, 40, 40);
	--mondrian-blue: rgb(56, 73, 118);
	/*--mondrian-white: rgb(246, 246, 239);*/
	--mondrian-white: rgb(255, 255, 255);
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--mondrian-white);
}


.main-container {
	background-color: var(--mondrian-white);
	width:100%;
	height:100%;
    text-align: center;

}

.main-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.row-container {
	display: flex;
}

.zeroth {
	border-top: 0px;
}


.first {
	height: 600;
} 

.second {
	border-bottom: 0px;
}

.column-container {
	padding: 10px 0px;
	background-color: var(--mondrian-white);
}


.column-container.title {
	padding-top: 3em;
	padding-bottom: 1em;
	padding-left: 3em;
	text-align: left;
}

/*.aside {
	border-left: 3px solid var(--mondrian-black);
	border-right: 3px solid var(--mondrian-black);
}*/


#drawing {
    padding: 0;
	margin: 0;
}

#drawing-content {
	padding: 0;
	margin: 0;
	float: left;
	display: flex;
}


.parameters.column-container {
	/*padding: 2em 4em 2em 2em;*/
	padding: 40px 64px 32px 40px;
}

.parameters > div {
	display: flex;
	flex-direction: flex-start;
	padding: 10px;
}


.parameters > div > input {
	margin: 0px 5px auto auto;
	max-width: 8em;


}




.yellow {
	color: var(--mondrian-yellow)

}

.black {
	color: var(--mondrian-black)

}

.red {
	color: var(--mondrian-red)

}

.blue {
	color: var(--mondrian-blue)

}

.white {
	color: var(--mondrian-white)

}

/*** Borders ***/

.border-top {
	border-top: 3px solid var(--mondrian-black);
}

.border-bottom {
	border-bottom: : 3px solid var(--mondrian-black);
}

.border-left {
	border-left: 3px solid var(--mondrian-black);
}

.border-right {
	border-right: 3px solid var(--mondrian-black);
}



/*** Style of parameters ***/

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      -webkit-appearance: none;
      background-color: #9a905d;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      background: var(--mondrian-white);
      box-shadow: -80px 0 0 80px;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #43e5f7; 
}
input[type="range"]::-moz-range-track {  
  background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #9a905d;
}



.bio.column-container {
	padding: 2em 3em;
}

.bio p {
	text-align: justify;
	width:500px;
}